<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
   <meta charset="utf-8">
   <title>Ultimate Flaggle</title>
   <meta name="description" content="Description for website">
   <meta name="author" content="Author Name">
   <!-- CSS
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/stylesheet.css') }}">
   <!-- Favicon
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
   <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultimate Flaggle</title>
</head>
<body>
<div class="header">
   <h2>Ultimate Flaggle</h2>
 </div>
 

 <div class="row">
   <div class="column-left" ></div>
   <div class="column-mid" style="background-color:#9AE05C;">
      <p>{{country}}</p>
      <p>Guess today's country!</p>
      <button onclick="document.getElementById('howToPopup').style.display='block'">How to play</button>

      <div class="howToPopup" id="howToPopup">
        <header style="background-color:#E9F1F7;color:#231651;">
          <span onclick="document.getElementById('howToPopup').style.display='none'" class="close-button topright">&times;</span>
        </header>
      <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="ultimate flaggle logo">
      <h1>How does it work?</h1>
      <br>
      <p>
        
        This version of flaggle works by combining the approachs of <a href="https://flagle.gg/" target="_blank">FLAGLE</a> and <a href="https://www.flaggle.net/" target="_blank">Flaggle</a>.
        You guess a country and are shown hints for how close you are to the country to guess. Hints are the distance, direction and flag colour comparison.
        The flag colour comparison works by comparing the pixel colours in the same position and will highlight green when they match.
        Please note, flags have been "cleaned" to be the same dimensions and a set of 17 colour shades so may not look exactly identical to the original flag.
      </p>
      <br>
      <p> Colours used to process flags:
      </p>
      <br>
      <p><div class="circle" style="background: #000000;"></div>
        <div class="circle" style="background: #FFFFFF;"></div>
        <div class="circle" style="background: #FF0000;"></div>
        <div class="circle" style="background: #CE2424;"></div>
        <div class="circle" style="background: #22861E;"></div>
        <div class="circle" style="background: #2D9E4E;"></div>
        <div class="circle" style="background: #9216A0;"></div>
        <div class="circle" style="background: #0F41A3;"></div>
        <div class="circle" style="background: #0F2383;"></div>
        <div class="circle" style="background: #8CB9DA;"></div>
        <div class="circle" style="background: #DECDB6;"></div>
        <div class="circle" style="background: #FAF341;"></div>
        <div class="circle" style="background: #EACB3F;"></div>
        <div class="circle" style="background: #61362E;"></div>
        <div class="circle" style="background: #F48E93;"></div>
      </p>
      </div>

      <div class="howToPopup" id="youWin" style="display: none;">
        <p>You won!</p>
        <button onclick="document.getElementById('youWin').style.display='none'">Close</button>
    </div>
    
    <div class="howToPopup" id="youLose" style="display: none;">
        <p>You lose!</p>
        <button onclick="document.getElementById('youLose').style.display='none'">Close</button>
    </div>

      <form action="{{ url_for("guesscountry")}}" method="post">
         <label for="guessedcountry">Please select a country from the list below</label>
         <br>
         <br>
         <select id="guessedcountry" name="guessedcountry">
         <!-- Goes through each test name in the database to display in a list -->
         <option disabled selected value> -- select a country! -- </option>
         {% for country in countries %}
         <option value='{{country}}'>{{country}}</option>
         {% endfor %}
     </form>
     
 
   

   </div>
   </div>
   <div class="button">
       <input id="guess-button" type="submit" value="Guess!">
   </div>
   </div>

   <div class="row">
   <div class="column-left" ></div>
   <div class="column-mid" style="background-color:#9AE05C;">
      <h2>Guess Results</h2>

      <table class="myTable">
         <tr>
             <th>Guessed Flag</th>
             <th>Guessed Country</th>
             <th>Distance</th>
             <th>Direction</th>
             <th>Flag Difference</th>
         </tr>
         {% for flag, country, distance, direction, image in guesses %}
         <tr>
            <td><img src="{{ flag }}" style="max-width: 100%; height: auto;"></td>
             <td>{{ country }}</td>
             <td>{{ distance }}</td>
             <td><img src="{{ direction }}" style="max-width: 50%; height: auto;"></td>
             <td><img src="{{ image }}" style="max-width: 100%; height: auto;"></td>
         </tr>
         {% endfor %}
     </table>
   </div>
   </div>

 </div>
 
 <div class="footer">
   <p>All rights reserved © Cheylea Hopkinson 2025. Contact on <a href="https://www.linkedin.com/in/cheyleahopkinson/" target="_blank">LinkedIn</a>.</p>
 </div>

 <script>
   function closeWinPopup() {
            document.getElementById("youWin").style.display = "none";
        }
        function closeLosePopup() {
            document.getElementById("youLose").style.display = "none";
        }
  window.onload = function() {
    var won = {{ won | tojson }};
    var lost = {{ lost | tojson }};

    if (won === 1) {
        document.getElementById("youWin").style.display = "block";
        document.getElementById("guess-button").style.display = "none";
    } 

    if (lost === 1) {
        document.getElementById("youLose").style.display = "block";
        document.getElementById("guess-button").style.display = "none";
    }
};

   </script>

</body>
</html>