/* S T Y L E S H E E T

Contents
1. Reset default margins, padding and borders

*/

/* 1. Reset default margins, padding and borders
––––––––––––––––––––––––––––––––––––––––––––––––––-------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-image: url("/static//images/water.jpg");
    background-color: rgba(101, 169, 226, 1);
    background-blend-mode: overlay;
    
  }

/* 2. Header
––––––––––––––––––––––––––––––––––––––––––––––––––-------------------- */
  .header {
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: #E9F1F7;
    text-shadow: 2px 2px #F8312F;
  }
  
/* 3. Body
––––––––––––––––––––––––––––––––––––––––––––––––––-------------------- */
  .column-left {
    float: left;
    width: 20%;
    padding: 10px;
    text-align: center;
  }

  .column-mid {
    float: left;
    width: 60%;
    padding: 10px;
    text-align: center;
    background-color:#9AE05C;
  }

  .column-mid .how-to{
    float: right;
    padding: 2px 2px;
    vertical-align: right;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: #E9F1F7;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Table Styling */
  
  table.myTable {
    align-content: center;
    background-color: #E9F1F7;
    text-align: center;
    table-layout: fixed;
    width: 100%;
  }

  table.myTable td, table.myTable th {
    padding: 6px 10px;
  }

  table.myTable thead {
    background: #B594B6;
    font-weight: bold;
  }

  table.myTable thead th {
    font-weight: normal;
  }

  table.statsTable {
    align-content: center;
    background-color: #E9F1F7;
    text-align: center;
    table-layout: fixed;
    width: 70%;
    margin-left: 15%;
  }

  table.statsTable td, table.myTable th {
    padding: 6px 10px;
  }

  table.statsTable thead {
    background: #B594B6;
    font-weight: bold;
  }

  table.statsTable thead th {
    font-weight: normal;
  }

  .howToPopup {
    display: none;
    width: 50%;
    max-width: 500px;
    background-color: #E9F1F7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px 30px 30px 30px;
    box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 15px 15px 15px 15px;
  }
 
  .howToPopup img {
    width: 100px;
    height: auto;
  }

  .howToPopup .circle {
    width: calc(100% / 17); 
    height: calc(100% / 17); 
    border-radius: 50%;
    float: left;
    padding: calc(100% / 17);
  }

  .howToPopup .p {
    padding: 10px;
    text-align: center;
  }

  .howToPopup .close-button {
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: #E9F1F7;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
  }
  
  .howToPopup .topright {
    position: absolute;
    right: 0;
    top: 0
  }

  .guessButton {
    box-shadow:inset 3px 4px 0px 0px #00B058;
    background-color:#00D26A;
    border-radius:15px;
    border:1px solid #00B058;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-weight:bold;
    padding:8px 16px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
  }
  .guessButton:hover {
    background-color:#3FFF9F;
  }
  .guessButton:active {
    position:relative;
    top:1px;
  }

  .circle {
    border-radius: 50%;
    width: calc(30% / 16);
    float: left;
    position: relative;
    left: 20%;
    padding: calc(30% / 16);
  }

/* 4. Footer
––––––––––––––––––––––––––––––––––––––––––––––––––-------------------- */
  .footer {
    background-color: #F8312F;
    padding: 10px;
    text-align: center;
    margin-top: auto;
    font-weight: bolder;
    color: #ffffff
  }

  .footer a {
    color: #B4C2C2;
  }
  
  