/* S T Y L E S H E E T

Contents
1. Reset default margins, padding and borders

*/

/* 1. Reset default margins, padding and borders
––––––––––––––––––––––––––––––––––––––––––––––––––-------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-image: url("/static//images/ocean.png");
    background-position: top;
  }

/* 2. Header
––––––––––––––––––––––––––––––––––––––––––––––––––-------------------- */
  .header {
    padding: 15px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #E9F1F7;
    text-shadow: 2px 2px #F8312F;
  }
  
/* 3. Body
––––––––––––––––––––––––––––––––––––––––––––––––––-------------------- */

  /* Column configurations */
  .column-left {
    float: left;
    width: 5%;
    padding: 10px;
    text-align: center;
  }

  .column-mid {
    float: left;
    width: 90%;
    padding: 2%;
    text-align: center;
    background-color:#9AE05C;
    background-image: url("/static//images/grass.png");
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 30px #ffffff;
  }

  .column-mid .how-to{
    float: right;
    padding: 2px 2px;
    vertical-align: right;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: #E9F1F7;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .top-text {
    color:white;
    font-weight:bold;
    margin-left: 0%;
    margin-right: 0%;
    font-size: 12px;
    margin-bottom: 2%;
  }
  
  /* Table Styling */
  table.myTable {
    align-content: center;
    background-color: #E9F1F7;
    text-align: center;
    table-layout: fixed;
    width: 100%;
    margin-top: 15px;
    
  }

  table.myTable td {
    padding: 6px 6px;
    font-size: 12px;
  }


  table.myTable th {
    font-weight: bold;
    padding: 6px 10px;
    font-size: 14px;
  }

  table.statsTable {
    align-content: center;
    background-color: #E9F1F7;
    text-align: center;
    table-layout: fixed;
    width: 90%;
    margin-left: 5%;
    font-weight: normal;
  }

  table.statsTable td, table.statsTable th {
    padding: 6px 10px;
    border: solid 1px black
  }

  table.statsTable th {
    background-color: #000000;
    color: #ffffff;
  }

  /* Pop up stylings */
  .howToPopup {
    display: none;
    width: 90%;
    background-color: #E9F1F7;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
    text-align: center;
    padding: 10% 10% 10% 10%;
    box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 15px 15px 15px 15px;
  }
 
  .howToPopup img {
    width: 25%;
    height: auto;
  }

  .howToPopup .circle {
    border-radius: 50%;
    float: left;
    padding: 6%;
  }

  .howToPopup .p {
    padding: 10px;
    text-align: center;
  }

  .howToPopup .close-button {
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: #E9F1F7;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
  }
  
  .howToPopup .topright {
    position: absolute;
    right: 0;
    top: 0
  }

  /* Guess button styling */
  .guessButton {
    box-shadow:inset 3px 4px 0px 0px #c12724;
    background-color:#F8312F;
    border-radius:15px;
    border:1px solid #601412;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-weight:bold;
    padding:8px 16px;
    text-decoration:none;
    text-shadow:0px 1px 0px #601412;
    max-width: 200px;
    margin-top: 2%;
  }
  .guessButton:hover {
    background-color:#fb615f;
  }
  .guessButton:active {
    position:relative;
    top:1px;
  }

  /* Circles for main page */
  .circle-main {
    border-radius: 50%;
    margin: 0.5%;
    float: left;
    position: relative;
    padding: calc(84% / 30);
    box-shadow: inset 0 0 0 2px #E9F1F7;
  }

  /* Selection box */
  .select {
    width: 70%;
  }

  /* Cookies */
  .cookie-banner {
    position: fixed;
    top: 8%;
    width: 100%;
    height: 40%;
    background: black;
    color: white;
    padding-top: 30%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    display: none;
  }

  .cookie-button-accept {
    background-color: #007934;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    padding: 5px;
    width: 100px;
  }

  .cookie-button-reject {
    background-color: #F8312F;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    padding: 5px;
    width: 100px;
  }


/* 4. Footer
––––––––––––––––––––––––––––––––––––––––––––––––––-------------------- */
  .footer {
    background-color: #F8312F;
    padding: 10px;
    text-align: center;
    margin-top: auto;
    font-weight: bolder;
    color: #ffffff;
    font-size: 11px;
  }

  .footer a {
    text-decoration: underline;
    color: #ffffff
  }
  
  