<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->
         <meta charset="utf-8">
         <title>Website Name</title>
         <meta name="description" content="Description for website">
         <meta name="author" content="Author Name">
         <!-- CSS
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
         <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/stylesheet.css') }}">
         <!-- Favicon
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
         <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>


</body>
</html>